* {
    overflow-x: hidden;
    max-width: 100vw;
    font-family: helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

section h1,h2,h3,h4,h5,h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

img {
    width: 100%;
    margin-top: -75px;
    filter: grayscale(1);
}

.fullImg {
    margin-top: 0px;
    filter: none;
    margin-bottom: 10px;
}

iframe {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 51.5vw;
    height: 29vw;
}

.imgContainer {
    max-height: 500px;
    overflow-y: hidden;
}

body {
    margin: 0;
    background-image: url(../res/bg.jpg);
    overflow-y: hidden;
}

.main {
    display: inline-block;
    width: 100%;
    margin-top: 250px;
    padding-top: 30px;
    background-image: url(../res/bg.jpg);
    box-shadow: 0 -20px 40px #000000;
}

header {
    position: fixed;
    width: 100%;
    height: 250px;
    z-index: -1;
    clear: both;
    filter: grayscale(1) contrast(200%);
    text-align: center;
    font-size: 3em;
    color: grey;
    background-color: black;
    background-image: url(../res/header.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

nav {
    position: fixed;
    display: block;
    float: right;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 15px #555555;
    width: 20%;
    right: 3%;
    padding: 0px 5px 0px 5px;
    text-align: center;
}

nav a {
    display: inline-block;
    float: left;
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
    transition: color .3s, background-color .3s;
}

nav a:hover {
    color: black;
    background-color: white;
}

section {
    float: left;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    width: 60%;
    margin-left: 12.5%;
    margin-bottom: 75px;
    font-size: 1.3em;
    padding: 10px 5px 0px 5px;
}

section a {
    display: block;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 700px) {
    header {
        font-size: 5.5vw;
        line-height: 120px;
        height: 200px;
    }
    .main{
        margin-top: 200px;
    }
    section {
        float: none;
        clear: both;
        width: 80%;
        margin-left: 10%;
    }
    nav {
        position: relative;
        float: none;
        clear: both;
        width: 80%;
        right: 0;
        margin-left: 10%;
        margin-bottom: 30px;
        box-shadow: none;
    }
    iframe {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    img {
    margin-top: 0px;
}
}